.list-view {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.button {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #45a049; /* Verde más oscuro */
}